@charset "utf-8";
/* CSS Document */
body {
    background-color: #CCCCCC;
    margin: auto;
}
#container {
    float: left;
    padding: 5px;
}
.generalTitle {
    font-weight: bold;
    font-family: Calibri;
    font-size: 2em;
    color: black;
    background-color: lightsteelblue;
    border: 2px black solid;
    width: 540px;
    text-align: center;
    margin-bottom:5px;
    padding: 15px;
}

.showTimeTitle {
    font-weight: bold;
    font-family: Calibri;
    font-size: 1.5em;
    color: black;
    background-color: lightsteelblue;
    border: 1.5em;
    width: 540px;
    text-align: center;
    margin:auto;
    padding: 15px;
}
.showTimeBody {
    font-weight: 100;
    font-family: Calibri;
    font-size: 1em;
    color: black;
    background-color: aliceblue;
    border: 1em;
    width: 500px;
    margin:auto;
    padding: 35px;
}
.filmTitle {
    font-weight: bold;
    font-family: Calibri;
    font-size: 1.5em;
    color: black;
    background-color: lightsteelblue;
    border: 1.5em;
    width: 540px;
    text-align: center;
    margin:auto;
    padding: 15px;
}
.filmBody {
    font-weight: 100;
    font-family: Calibri;
    font-size: 1em;
    color: black;
    background-color: aliceblue;
    border: 1em;
    width: 500px;
    margin:auto;
    padding: 35px;
}